@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Outfit:wght@300&display=swap");
#title-text {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-size: 1.5em;
  font-weight: bolder;
  text-shadow: 2px 2px 2px black;
}

html {
  font-size: .9em;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 1.5em;
  font-weight: bolder;
  background: #e4774f;
  background: -webkit-gradient(linear, left top, right top, from(#e46d4f), color-stop(35%, #ec624a), to(#ec5a4f));
  background: linear-gradient(90deg, #e46d4f 0%, #ec624a 35%, #ec5a4f 100%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo-app {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  min-width: 95vw;
  max-width: 95vw;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 12px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  -webkit-box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.753);
          box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.753);
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-button {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: #0c92ff;
  background: transparent;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.info-button:hover {
  color: #242424;
  background-color: #58a0ffd8;
}

.info-button:active {
  background-color: #1fadff;
  position: relative;
  top: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.drag-notification {
  padding: 0;
}

.todo-button {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#0c92ff), to(#5e96fd));
  background: linear-gradient(90deg, #0c92ff 0%, #5e96fd 100%);
  color: #fff;
  text-transform: capitalize;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.todo-button:hover {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #0c92ff), color-stop(80%, #6dc5ff));
  background: linear-gradient(90deg, #0c92ff 20%, #6dc5ff 80%);
  -webkit-box-shadow: inset 0px 0px 0px 2px #ffbe0c;
  box-shadow: inset 0px 0px 0px 2px #ffbe0c;
}

.todo-button:active {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #87c4fa), color-stop(60%, #6dc5ff));
  background: linear-gradient(90deg, #87c4fa 20%, #6dc5ff 60%);
  position: relative;
  top: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  padding: 0;
}

.todo-input {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 13px 32px 13px 16px;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  border: 2px solid #0c92ff;
  outline: none;
  width: 60%;
  background: transparent;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.todo-input:hover {
  background-color: #0e0e0e;
  border: 2px solid #ffbe0c;
}

.todo-text {
  padding: 3px;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.list-status {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-shadow: 3px 3px 3px black;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

img.animated-gif {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 120px;
  height: auto;
}

.drag-notification {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #fff;
  padding: 5px;
}

.word-counter {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-shadow: 3px 3px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #fff;
  padding: 5px;
}

.inactive {
  opacity: 0;
  -webkit-transition: all 1000ms linear 2s;
  transition: all 1000ms linear 2s;
  visibility: hidden;
}

.active {
  visibility: visible;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.todo-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.todo-row {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px auto;
  color: black;
  padding: 3px;
  border-radius: 5px;
  width: 90%;
}

.list-item {
  background-color: #e4594f;
  border-radius: 8px;
}

h1 {
  text-shadow: 5px 5px 5px black;
  color: aliceblue;
  font-family: "Inconsolata", monospace;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 36px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: black;
  padding: 2px;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  color: black;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.delete-icon:hover {
  color: #242424;
  background-color: #58a0ffd8;
}

.delete-icon:active {
  background-color: #6ecaff98;
  position: relative;
  top: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.edit-icon {
  color: black;
  padding: 2px;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.edit-icon:hover {
  color: #242424;
  background-color: #6ecaff;
}

.edit-icon:active {
  background-color: #6ecaff86;
  position: relative;
  top: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.change-color-icon {
  color: black;
  padding: 2px;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.change-color-icon:hover {
  color: #242424;
  background-color: #6ecaff;
}

.change-color-icon:active {
  background-color: #6ecaff86;
  position: relative;
  top: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html::after {
  content: "";
  background: linear-gradient(21deg, #10abff, #1beabd);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/*# sourceMappingURL=App.css.map */