@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Outfit:wght@300&display=swap");
$main-color: #e4594f;

#title-text{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-size: 1.5em;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
body {
  font-family: "Inconsolata", monospace;
  font-size: 1.5em;
  font-weight: bolder;
  background: rgb(228,119,79);
background: linear-gradient(90deg, rgb(228, 109, 79) 0%, rgb(236, 98, 74) 35%, rgb(236, 90, 79) 100%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-app {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 95vw;
  max-width: 95vw;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 12px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.753);
}
.form-container{
  display: flex;
 flex-direction: row;
  justify-content: center;
}
.info-button{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: rgb(12, 146, 255);
  background: transparent;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: left;
  padding: 0;
  margin-bottom: 10px;
  margin-right:5px;
  height: 20px;
  width: 20px;
  &:hover {
    color: #242424;
    background-color: #58a0ffd8;
  }
  &:active {
    background-color: #1fadff;
    position: relative;
    top: 4px;
    box-shadow: none;
  }
}
.drag-notification{
padding: 0;
}
.todo-button{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  padding: 15px;
  box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(12, 146, 255) 0%,
    rgb(94, 150, 253) 100%
  );
  color: #fff;
  text-transform: capitalize;
  opacity: 1;
  transition: 0.2s;
  &:hover {
    color: #ffffff;
    background: linear-gradient(
      90deg,
      rgb(12, 146, 255) 20%,
      rgb(109, 197, 255) 80%
    );
    -webkit-box-shadow: inset 0px 0px 0px 2px #ffbe0c;
    -moz-box-shadow: inset 0px 0px 0px 2px #ffbe0c;
    box-shadow: inset 0px 0px 0px 2px #ffbe0c;
  }
  &:active {
    background: linear-gradient(
      90deg,
      rgb(135, 196, 250) 20%,
      rgb(109, 197, 255) 60%
    );
    position: relative;
    top: 4px;
    box-shadow: none;
  }
}
// .todo-button.edit {

// }

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
padding: 0;
}
.todo-input {

  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 13px 32px 13px 16px;
  border-radius: 4px 0 0 4px;
  box-shadow: 3px 3px 3px black;
  border: 2px solid #0c92ff;
  outline: none;
  width: 60%;
  background: transparent;
  color: #fff;
  transition: 0.2s;
  &:hover {
    background-color: rgb(14, 14, 14);
    border: 2px solid #ffbe0c;
  }
}
.todo-text {
  padding: 3px;
}
.todo-input.edit {
  border: 2px solid #149fff;
}

.list-status{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-shadow: 3px 3px 3px black;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;

}
img.animated-gif{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 120px;
  height: auto;
}
.drag-notification{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  justify-content:center;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #fff;
  padding: 5px;
}
.word-counter{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-shadow: 3px 3px 3px black;
  display: flex;
  justify-content:center;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #fff;
  padding: 5px;
}
.inactive{
  opacity: 0;
  transition: all 1000ms linear 2s;
  // animation: fade-out 8s;
  // animation-iteration-count: 1;
  visibility: hidden;
  
}
.active{
  visibility: visible;
}
@keyframes fade-out {
  
  0%{opacity: 1;}
  50%{opacity: 1;}
  100%{opacity: 0;}
  
}

.todo-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(0, 0, 0);
  padding: 3px;
  border-radius: 5px;
  width: 90%;
}
.list-item {
  background-color: #e4594f;
  border-radius: 8px;
}

h1 {
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  color: aliceblue;
  font-family: "Inconsolata", monospace;
}
* {
  box-sizing: border-box;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 36px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(0, 0, 0);
  padding: 2px;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  transition: 0.1s;
  &:hover {
    color: #242424;
    background-color: #58a0ffd8;
  }
  &:active {
    background-color: #6ecaff98;
    position: relative;
    top: 4px;
    box-shadow: none;
  }
}

.edit-icon {
  color: rgb(0, 0, 0);
  padding: 2px;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  transition: 0.1s;
  &:hover {
    color: #242424;
    background-color: #6ecaff;
  }
  &:active {
    background-color: #6ecaff86;
    position: relative;
    top: 4px;
    box-shadow: none;
  }
}

.change-color-icon{
  color: rgb(0, 0, 0);
  padding: 2px;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  transition: 0.1s;
  &:hover {
    color: #242424;
    background-color: #6ecaff;
  }
  &:active {
    background-color: #6ecaff86;
    position: relative;
    top: 4px;
    box-shadow: none;
  }
}
html::after {
  content: "";
  background: linear-gradient(21deg, #10abff, #1beabd);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
